@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 0px;">
    <h3>



    </h3>
    <h1><img src="~/Content/Image/HBLogo.png" class="img-center" height="100" width="235" /> </h1>
    @*<p class="lead">Start A New Pickup Request</p>
    <p><a href="https://localhost:44327/pickups" class="btn btn-primary btn-lg">Create Pickup &raquo;</a></p>*@
</div>
<br />
<div class="row">
    @*<div class="col-md-4">
        <h2>Pickup Requests</h2>
        <p>
            View, Edit, and Delete Existing Pickup Requests
        </p>
        <p><a class="btn btn-secondary btn-sm" href="https://localhost:44327/requests">Requests &raquo;</a></p>
    </div>*@
    <div class="col-md-4" style="margin-left: 200px;">
        <h2>Store View</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/HobbyLobbyStowOhio.JPG" class="img-center" height="200" width="335" style="margin-bottom: 10px;" />
        <p><a class="btn btn-primary btn-lrg" href="https://localhost:44327/stores">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transportation View</h2>
        <img src="https://live.staticflickr.com/5552/15075264481_bbb67a1a5c_b.jpg" class="img-center" height="200" width="335" style="margin-bottom: 10px;"/>
        <p><a class="btn btn-primary btn-lrg" href="https://localhost:44327/trucks">Go</a></p>
    </div>
</div>